html, body {
    height: 100%;
    margin: 0;
}


footer {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: Popins, Arial;
}

.footer-left {
    color: var(--footer-text-color);
    flex: 1;
}

.footer-left h3 {
    color: var(--footer-text-color);
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 10px;
}

.social-links a {
    text-decoration: none;
}

.footer-right {
    flex: 1;
    margin-bottom: 0;
    text-align: right;
}
.footer-right p {
    color: var(--footer-secondary-text-color);
    font-weight: 300;
    font-size: 12px;
    text-align: right;
}

.developed {
    color: var(--footer-accent-text-color);
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    
}

.social-links a {
    margin-right: 10px;
}

.social-links img {
    width: 30px;
}

@media screen and (max-width: 750px) {
    
    .footer-left {
        padding-left: 0;
    }
    
    .footer-left h3 {
        font-size: 20px;
    }

    .social-links img {
        width: 25px;
    }

    .footer-right, 
    .footer-right p {
        padding-right: 0;
        font-size: 8px;
    }

    .developed {
        font-size: 9px;
    }
}